<div class="card" style="width: 20rem;">
  <img class="card-img-top img-fluid" src="http://placehold.it/350x150" alt="Card image cap">
  <div class="card-block" [ngClass]="{
    'text-muted': (!(data | async)?.status || (data | async)?.status === ToiletStatusEnum.Unknown),
    'text-success': (data | async)?.status === ToiletStatusEnum.Unoccupied,
    'text-danger': (data | async)?.status === ToiletStatusEnum.Occupied
  }">

    <div class="toilet-icon" [ngSwitch]="configuration.toiletGender">
      <span *ngSwitchCase="GenderEnum.Man">
        <img src="/assets/svg/male.svg"/>
      </span>
      <span *ngSwitchCase="GenderEnum.Woman">
        <img src="/assets/svg/female.svg"/>
      </span>
      <span *ngSwitchCase="GenderEnum.ForDisabled">
        <img src="/assets/svg/wheelchair.svg"/>
      </span>
      <span *ngSwitchDefault>
        <img src="/assets/svg/male.svg"/>
        <img src="/assets/svg/female.svg"/>
      </span>
    </div>

    <h4 class="card-title">{{configuration.toiletName}}</h4>

    <p class="card-text">
      <strong>Status</strong>

      <span [ngSwitch]="(data | async)?.status">
        <span *ngSwitchCase="ToiletStatusEnum.Occupied">Occupied</span>
        <span *ngSwitchCase="ToiletStatusEnum.Unoccupied">Free</span>
        <span *ngSwitchDefault>Unknown</span>
      </span>
    </p>
  </div>
</div>
<!--
<strong>{{configuration.toiletName}}</strong>
<div [ngSwitch]="configuration.toiletGender">
  <span *ngSwitchCase="GenderEnum.Man">Man</span>
  <span *ngSwitchCase="GenderEnum.Woman">Woman</span>
  <span *ngSwitchCase="GenderEnum.ForDisabled">For disabled</span>
  <span *ngSwitchDefault>Common</span>
</div>
<div [ngSwitch]="(data | async)?.status">
  <span *ngSwitchCase="ToiletStatusEnum.Occupied">Occupied</span>
  <span *ngSwitchCase="ToiletStatusEnum.Unoccupied">Free</span>
  <span *ngSwitchDefault>Unknown</span>
</div>
-->
