<div
  [ngClass]="{
    'status-unknown': (!(beaconObservable | async)?.status || (beaconObservable | async)?.status === ToiletStatusEnum.Unknown),
    'status-free': (beaconObservable | async)?.status === ToiletStatusEnum.Free,
    'status-occupied': (beaconObservable | async)?.status === ToiletStatusEnum.Occupied
  }"
>
  <h2>{{configuration?.toiletName}}</h2>

  <p [ngSwitch]="configuration?.toiletType" class="text-muted small">
    <span *ngSwitchCase="GenderEnum.Man">
      For man
    </span>
    <span *ngSwitchCase="GenderEnum.Woman">
      For woman
    </span>
    <span *ngSwitchCase="GenderEnum.ForDisabled">
      For Disabled
    </span>
    <span *ngSwitchDefault>
      Common
    </span>
  </p>

  <div class="panel">
    <div class="toilet-symbol">
      <img
        [src]="
          '/assets/svg/'
          + (GenderEnum[configuration?.toiletType] || GenderEnum.Unspecified).toLowerCase()
          + '-'
          + ToiletStatusEnum[(beaconObservable | async)?.status || ToiletStatusEnum.Unknown].toLowerCase()
          + '.svg'
          "/>
    </div>

    <div class="status-label text-muted" [ngSwitch]="(beaconObservable | async)?.status">
      STATUS:
      <mark *ngSwitchCase="ToiletStatusEnum.Occupied">Occupied</mark>
      <mark *ngSwitchCase="ToiletStatusEnum.Free">Free</mark>
      <mark *ngSwitchDefault>Unknown</mark>
    </div>
  </div>

  <div class="foot text-muted">
    <p class="pull-left small">
      Uptime: {{lastChange| amTimeAgo:true }}
    </p>
    <p class="pull-right small">
      Last check: {{lastUpdate| amTimeAgo:true }}
    </p>
  </div>

</div>
