<div
  class="card alert alert-danger"
  [ngClass]="{
    'alert-muted': (!(beaconObservable | async)?.status || (beaconObservable | async)?.status === ToiletStatusEnum.Unknown),
    'alert-success': (beaconObservable | async)?.status === ToiletStatusEnum.Free,
    'alert-danger': (beaconObservable | async)?.status === ToiletStatusEnum.Occupied
  }"
  style="width: 20rem;"
>


  <div [ngSwitch]="(beaconObservable | async)?.status">

    <img
      *ngSwitchCase="ToiletStatusEnum.Occupied"
      class="card-img-top img-fluid"
      src="/assets/svg/status-occupied.svg"
    />

    <img
      *ngSwitchCase="ToiletStatusEnum.Free"
      class="card-img-top img-fluid"
      src="/assets/svg/status-free.svg"
    />

    <img
      *ngSwitchDefault
      class="card-img-top img-fluid"
      src="/assets/svg/status-unknown.svg"
    />

  </div>

  <span class="tag tag-default">Uptime: {{lastChange| amTimeAgo:true }}</span>

  <div class="card-block">

    <div class="toilet-icon" [ngSwitch]="configuration.toiletGender">
      <span *ngSwitchCase="GenderEnum.Man">
        <img src="/assets/svg/male.svg"/>
      </span>
      <span *ngSwitchCase="GenderEnum.Woman">
        <img src="/assets/svg/female.svg"/>
      </span>
      <span *ngSwitchCase="GenderEnum.ForDisabled">
        <img src="/assets/svg/wheelchair.svg"/>
      </span>
      <span *ngSwitchDefault>
        <img src="/assets/svg/male.svg"/>
        <img src="/assets/svg/female.svg"/>
      </span>
    </div>

    <h4 class="card-title">{{configuration.toiletName}}</h4>

    <p class="card-text">
      <strong>Status</strong>

      <span [ngSwitch]="(beaconObservable | async)?.status">
        <span *ngSwitchCase="ToiletStatusEnum.Occupied">Occupied</span>
        <span *ngSwitchCase="ToiletStatusEnum.Free">Free</span>
        <span *ngSwitchDefault>Unknown</span>
      </span>
    </p>
  </div>
</div>
