<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

<button md-button>Flat button</button>
<button md-raised-button>Raised button</button>
<button md-fab><md-icon>check</md-icon></button>
<button md-mini-fab><md-icon>check</md-icon></button>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
